{% extends 'base.html.twig' %}

{% block title %}aidez {{ prenom }}{% endblock %}

{% block body %}
<br>
<h1>Sauvez le petit {{ prenom }}</h1><br>
Voici une page pour {{ prenom }} qui a des soucis. <br>
Il ne se souvient plus de son nom pourtant il a un nom de bourgeois.
Son nom est {{nom}}, mais chut il ne faut pas lui dire !
{% endblock %}